.header {
  text-align: center;
}

input {
  text-align: center;
  width: 33%;
}

form {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

table {
  width: 100%;
  text-align: left;
}
